html, body{
    background-color: rgb(9, 56, 83);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    padding: 40px;
  
  } 

input{
    font-size: 0.9rem;
    height: 24px;
    width: 200px;
    
  }

  .card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  /* .card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  */
  .card{
  
    align-content: center;
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 40px;
  
  }
  
  .card p{
    padding: 5px;
    text-align: center;
  
  }
  
  .card img{
    height: 320px ;
    width: 480px;
  }